@import "tailwindcss";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
/* @custom-variant dark (&:is(.dark *)); */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fff;

  background-image:
    linear-gradient(to right, #ECECEC 1px, transparent 1px),
    linear-gradient(to bottom, #ECECEC 1px, transparent 1px);
  background-size: 180px 180px;
  background-position: center center;
  -webkit-mask-image:
    linear-gradient(to bottom, transparent, #fff 70px calc(100% - 70px), transparent),
    linear-gradient(to right, transparent, #fff 70px calc(100% - 70px), transparent);
  mask-image:
    linear-gradient(to bottom, transparent, #fff 70px calc(100% - 70px), transparent),
    linear-gradient(to right, transparent, #fff 70px calc(100% - 70px), transparent);
  mask-composite: intersect;
  -webkit-mask-composite: source-in, xor;

  color: #000;
  min-height: 100vh;

  background-attachment: fixed;

  font-family: Arial, Helvetica, sans-serif;
}

/*滚动条*/
::-webkit-scrollbar {
  width: 5px;
  height: 8px;

  background-color: rgba(255, 255, 255, 0.8);

}

/*滚动条轨道*/
::-webkit-scrollbar-track {
  background-color: rgba(255, 0.1);

}

/*滑块*/
::-webkit-scrollbar-thumb {
  background-color: #ACB1BF;
  border-radius: 4px;

}
